@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

image {
  width: 100%;
  height: 100%;
  /* color: #d0e0f0; */
  object-fit: contain;
}

html {
  font-family: "Prompt", sans-serif;
}

p,
span {
  font-family: "Rubik", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scrolls::-webkit-scrollbar {
  display: none;
}

.scrolls {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
